@import '_general';
.user-parent{
    position: relative;
    padding: 10px;
    @media screen and (min-width: $small){
        padding: 10px 10px 0px 260px;
    }
}
.user-content{
    position: relative;
    min-height: 100vh;
    overflow: auto;
}
//Navigation bar design
.nav-opener{
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
    @media screen and (min-width: $small){
        display: none;
    }
}
.user-nav{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 850px;
    background-image: linear-gradient($prev_primary, $prev_primary_dark);
    z-index: 10;
    @media screen and (min-width: $small){
        display: block;
        width: 250px;
        height: 100%;
    }
}
.navigation-bar{
    width: 100%;
    top: 0px;
    left: 0px;
    .user-profile{
        position: relative;
        width: 100%;
        height: 80px;
        border: 1px solid black;
        padding: 5px;
        padding-left: 65px;
        background-color: rgba(black, .4);
        .user-image{
            position: absolute;
            top: 50%;
            left: 5px;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 54px;
            height: 54px;
            border: 2px solid black;
            border-radius: 27px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .user-details{
            position: relative;
            color: white;
            overflow: hidden;
            .user-name{
                margin-top: 5px;
                font-size: 20px;
            }
            .company-name{
                //margin-top: -10px;
                color: lightgray;
                font-style: italic;
                font-size: 16px;
            }
        }
    }

    .user-menu{
        margin-top: 50px;
        padding: 0px;
        .menu-list{
            list-style-type: none;
            padding-left: 0px;
            a:hover{
                text-decoration: none;
            }
            li{
                padding: 10px;
                color: white;
                font-weight: 600;
                &:hover{
                    cursor: pointer;
                    background-color: rgba(black, .3);
                    box-shadow: 0px 0px 2px black inset;
                }
                &.selected{
                    background-color: rgba(black, .3);
                }
            }
        }
    }

    .nav-logo{
        position: absolute;
        bottom: 10px;
        width: 100%;
        height: 150px;
        padding: 0px;
        
        img{
            position: absolute;
            bottom: 50%;
            left: 50%;
            -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
            width: auto;
            height: 100%;
        }
    }
}
// End navigation bar design

//Global user content design
.user-content-row{
    margin-top: 20px;
    margin-bottom: 20px;
}
.user-warning{
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px;
    background-color: lighten(orange, 30%);
}
// End global user content design

//Ticket design
.ticket-label{
    font-weight: bold;
    color: #555555;
}
.table-fixed-header{
    overflow-y: auto;
    max-height: 600px;
    border-top: 2px solid lightgray;
    box-shadow: 2px 2px 5px lightgray;
    thead{
        th{
            background-color: white;
            position: sticky;
            top: 0;
            z-index: 2;
        }
    }
    .table-pagination-row{
        margin: 20px 0px;
    }
    .table-pagination{
        button{
            width: 100%;
            text-align: center;
        }
    }
}
.question-table{
    tbody{
        tr{
            &.follow-up{
                background-color: #eeeeee;
            }
            &:hover{
                cursor: pointer;
                background-color: rgba(black, .2);
            }
            td{
                position: relative;

                .question-tip{
                    position: absolute;
                    top: -30px;
                    right: 40px;
                    min-width: 200px;
                    border-radius: 5px;
                    padding: 5px;
                    color: white;
                    background-color: rgba(black, .8);
                    z-index: 2;
                    .tip-bulb{
                        font-size: 30px;
                        color: yellow;
                    }
                    .question-tip-arrow{
                        position: absolute;
                        right: 0px;
                        bottom: -15px;
                        color: black;
                        font-size: 30px;
                    }
                }
                .tip-view-ctn{
                    display: none;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                    background-color: rgba(black, .8);
                    z-index: 100;
                    .tip-view{
                        max-width: 700px;
                        min-height: 250px;
                        width: 95%;
                        margin: 30px auto 10px auto;
                        border: 2px solid lightgray;
                        border-top-width: 10px;
                        border-radius: 5px;
                        padding: 10px;
                        background-color: white;
                        overflow: auto;
                        @media screen and (min-width: $small){
                            margin-top: 75px;
                        }
                    }
                }
            }
        }
    }
}
.detailed-tip{
    width: 300px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid lightgray;
    background-color: white;
    @media screen and (min-width: $small) {
        width: 500px;
    }
}
.ticket-method-ctn{
    position: relative;
    border: 1px solid $prev_primary_dark;
    padding: 50px 10px 10px 10px;
    .ticket-method-title{
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;
        color: white;
        background-color: $prev_primary_dark;
        font-weight: bold;
    }
    .ticket-method-card{
        margin-top: 10px;
        padding: 10px;
        box-shadow: 0 0 4px lightgray;
        background-color: whitesmoke;
        .method-card-number{
            box-shadow: 1px 1px 3px gray;
            background-color: white;
            text-align: center;
            font-weight: bold;
            font-style: italic;
        }
        .method-card-title{
            font-weight: bold;
        }
        .method-card-btn{
            float: right;
        }
        .method-percent-btn{
            font-weight: bold;
        }
        .method-card-details{
            display: none;
        }
    }
}
.ticket-information{
    box-shadow: 0 0 4px lightgray;
    border-top: 3px solid lightgray;
    padding: 5px;
    background-color: whitesmoke;

    .ticket-information-title{
        margin-right: 10px;
        color: #555555;
        font-weight: bold;
    }
    .ticket-information-logo{
        width: 100px;
        border: 2px solid white;
        border-radius: 5px;
        overflow: hidden;
       
    }
}
.ticket-deadline-form, .question-deadline-form{
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid $prev_primary_dark;
    border-top-width: 10px;
    border-radius: 5px;
    padding: 5px;
}
.smiley-check{
    i{
        font-size: 40px;
        margin: 0px 10px;
        color: gray;
        cursor: pointer;
    }
    i:nth-child(1):hover{ color: #ff7b5f; }
    i:nth-child(2):hover{ color: #ffb55f; }
    i:nth-child(3):hover{ color: #ffde5f; }
    i:nth-child(4):hover{ color: #a4d045; }
    i:nth-child(5):hover{ color: #45d04d; }

    i:nth-child(1).active{ color: #ff7b5f; }
    i:nth-child(2).active{ color: #ffb55f; }
    i:nth-child(3).active{ color: #ffde5f; }
    i:nth-child(4).active{ color: #a4d045; }
    i:nth-child(5).active{ color: #45d04d; }
}
// End new ticket design

//All tickets design
.all-tickets-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.all-tickets{
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .sort-text{
        color: #555555;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
    }
    .ticket-ctn{
        box-shadow: 0 0 3px lightgray;
        margin: 5px auto;
        background-color: lighten( lightgray, 10%);
        .ticket-row{
            padding: 5px;
            .ticket-label{
                font-weight: bold;
            }
            button{
                float: right;
            }
            .ticket-date{
                text-align: right;
            }
        }
    }
}
// End all tickets design

//Report Composer Design
.report-composer-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.report-composer{
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;

    .accordion-heading{
        margin-left: 30px;
        color: #555555;
        cursor: pointer;
        font-size: 0.85em;
        font-weight: bold;
        font-style: italic;

        &::after{
            content: " ::: ";
            color: lightgray;
        }
    }
    h4.accordion-heading{
        margin-left: auto;
    }

    .section-checker{
        margin: 0px 10px;
        outline: 3px solid lightgray;
    }

    .composer-method-header{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .method-tab{
            flex: 1 1 50px;
            margin-top: 25px;
            height: 50px;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            overflow: hidden;
        }
        .method-tab:first-child, .method-tab:last-child{
            flex: 2 2 50px;
            margin-top: 0px;
        }
        .method-tab.selected{
            flex: 2 2 50px;
            margin-top: 10px;
            min-height: 75px;
        }
    }

    .composer-method-header-text{
        text-align: center;
    }
}
// End all tickets design

//All Company design
.all-companies-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.all-companies{
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .sort-text{
        color: #555555;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
    }
    .company-ctn{
        position: relative;
        box-shadow: 0 0 3px lightgray;
        margin: 5px auto;
        padding-left: 60px;
        background-color: lighten( lightgray, 10%);
        .company-logo{
            position: absolute;
            top: 10px;
            left: 5px;
            width: 50px;
            height: 50px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .company-row{
            padding: 5px;
            .company-label{
                font-weight: bold;
            }
            button{
                float: right;
            }
            .company-id{
                padding: 0px 20px;
                color: black;
                font-weight: bold;
            }
            .company-size{
                text-align: right;
            }
        }
    }
}
// End all tickets design

//Profile Design
.profile-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.profile{
    min-height: 500px;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .profile-ctn{
        .profile-row{
            margin: 15px 0px;
        }
        .profile-label{
            float: left;
            margin-right: 10px;
            color: #555555;
            font-weight: bold;
        }
    }
}
// End profile desing

//Tracker Design
.tracker-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.tracker{
    min-height: 500px;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .tracker-ctn{
        max-height: 800px;
        overflow: auto;
    }
}
//End tracker design

//Package Design
.package-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.package{
    min-height: 500px;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .package-ctn{
        .package-row{
            margin: 15px 0px;
        }
        .package-label{
            float: left;
            margin-right: 10px;
            color: #555555;
            font-weight: bold;
        }
        .package-new, .package-edit{
            position: relative;
            margin: 10px auto;
            border: 1px solid $prev_primary_dark;
            padding: 40px 5px 10px 5px;
            .package-new-title{
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                padding: 5px;
                color: white;
                background-color: $prev_primary_dark;
                text-align: center;
                font-weight: bold;
            }
        }
        .package-editor-sample{
            display: none;
        }
    }
}
// End package desing

//Support Design
.support-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.support{
    min-height: 500px;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .support-info-ctn{
        .support-row{
            margin: 15px 0px;
        }
        .support-label{
            float: left;
            margin-right: 10px;
            color: #555555;
            font-weight: bold;
        }
    }
    .support-message{
        position: relative;
        margin-top: 20px;
        border: 1px solid $prev_primary_dark;
        padding-top: 40px;
        padding-bottom: 10px;
        .support-message-title{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            padding: 5px;
            color: white;
            background-color: $prev_primary_dark;
            text-align: center;
            font-weight: bold;
        }
    }
    .support-card{
        margin: 10px -5px;
        padding: 5px;
        box-shadow: 0 0 3px gray;
        background-color: whitesmoke;

        .support-card-title{
            float: left;
            margin-right: 10px;
            font-weight: bold;
        }
        .support-card-text{
            padding-left: 20px;
            color: #555555;
        }
        .support-card-info{
            margin: 10px -5px 0px -5px;
            background-color: white;
        }
    }
    .single-support{
        .single-support-subject{
            margin: 10px 0px;
            font-size: 1.2em;
        }
        .support-section-title{
            margin-top: 40px;
            border-bottom: 2px solid $prev_primary_dark;
            font-size: 1.2em;
            font-style: italic;
            font-weight: bold;
        }
        .support-reply-card{
            margin: 10px -5px;
            padding: 5px;
            border: 1px solid lightgray;
            background-color: whitesmoke;
            &.support-reply-card-admin{
                border-color: $prev_primary_dark;
                .support-reply-card-info{
                    background-color: $prev_primary_dark;
                    color: white;
                }
            }
            .support-reply-card-text{
                padding-left: 20px;
                color: #555555;
            }
            .support-reply-card-info{
                margin: 10px -5px 0px -5px;
                background-color: white;
            }
        }
        .single-support-reply{
            position: relative;
            margin: 20px auto;
            border: 1px solid $prev_primary_dark;
            padding: 10px;
            padding-top: 40px;
            .support-reply-title{
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                padding: 5px;
                color: white;
                background-color: $prev_primary_dark;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}
// End support desing

//Language Design
.language-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.language{
    position: relative;
    min-height: 600px;
    padding-bottom: 70px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .language-name{
        position: relative;

        .edit-language-name{
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0.8;
        }
    }
    .language-status{
        margin: 5px;
        padding: 3px;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: wheat;
        color: black;
        font-size: 12px;
        font-style: italic;
    }
    .new-language-ctn{
        position: absolute;
        bottom: 0px;
        left: 15px;
        right: 15px;
        margin-bottom: 0px;
        padding: 10px;
        background-color: lightgray;
        .new-language{
            max-width: 500px;
            margin: auto;
            #new_language_code{
                text-transform: lowercase;
            }
        }
    }
}
// End language desing

//Method Design
.method-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.method{
    position: relative;
    min-height: 600px;
    padding-bottom: 70px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .method-title{
        float: left;
        margin-right: 10px;
        color: #555555;
        font-weight: bold;
    }
    .method-single-ctn{
        position: relative;
        margin: 5px -10px;
        box-shadow: 0 0 4px lightgray;
        padding: 35px 10px 10px 5px;;
        background-color: whitesmoke;
        .method-single-title{
            position: absolute;
            top: -10px;
            left: 0px;
            padding: 3px 10px;
            background-color: lightgray;
            color: #555555;
        }
    }
    .method-card{
        position: relative;
        margin: 5px -10px;
        padding: 10px;
        padding-right: 40px;
        box-shadow: 0 0 4px lightgray;
        &.method-highlight{
            background-color: lightgreen;
        }
        .method-card-btn{
            position: absolute;
            bottom: 5px;
            right: 10px;
            color: white;
            cursor: pointer;
        }
    }
    .new-method-ctn{
        position: absolute;
        bottom: 0px;
        left: 15px;
        right: 15px;
        margin-bottom: 0px;
        padding: 10px;
        background-color: lightgray;
        .new-method{
            max-width: 500px;
            margin: auto;
        }
    }
}
// End method desing

//Industry Type Design
.industry-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.industry{
    position: relative;
    min-height: 600px;
    padding-bottom: 70px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .industry-title{
        float: left;
        margin-right: 10px;
        color: #555555;
        font-weight: bold;
    }
    .industry-single-ctn{
        position: relative;
        margin: 5px -10px;
        box-shadow: 0 0 4px lightgray;
        padding: 35px 10px 10px 5px;;
        background-color: whitesmoke;
        .industry-single-title{
            position: absolute;
            top: -10px;
            left: 0px;
            padding: 3px 10px;
            background-color: lightgray;
            color: #555555;
        }
    }
    .industry-card{
        position: relative;
        margin: 5px -10px;
        padding: 10px;
        box-shadow: 0 0 4px lightgray;
        &.industry-highlight{
            background-color: lightgreen;
        }
        .industry-card-btn{
            float: right;
            margin-right: 5px;
            color: white;
            cursor: pointer;
        }
    }
    .new-industry-ctn{
        position: absolute;
        bottom: 0px;
        left: 15px;
        right: 15px;
        margin-bottom: 0px;
        padding: 10px;
        background-color: lightgray;
        .new-industry{
            max-width: 500px; 
            margin: auto;
        }
    }
}
// End Industry Type desing

//Category Design
.category-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.category{
    position: relative;
    min-height: 600px;
    padding-bottom: 70px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .category-title{
        float: left;
        margin-right: 10px;
        color: #555555;
        font-weight: bold;
    }
    .category-single-ctn{
        position: relative;
        margin: 5px -10px;
        box-shadow: 0 0 4px lightgray;
        padding: 35px 10px 10px 5px;;
        background-color: whitesmoke;
        .category-single-title{
            position: absolute;
            top: -10px;
            left: 0px;
            padding: 3px 10px;
            background-color: lightgray;
            color: #555555;
        }
    }
    .category-card{
        position: relative;
        margin: 5px -10px;
        padding: 10px;
        box-shadow: 0 0 4px lightgray;
        &.category-highlight{
            background-color: lightgreen;
        }
        .category-card-btn{
            float: right;
            margin-right: 5px;
            color: white;
            cursor: pointer;
        }
    }
    .new-category-ctn{
        position: absolute;
        bottom: 0px;
        left: 15px;
        right: 15px;
        margin-bottom: 0px;
        padding: 10px;
        background-color: lightgray;
        .new-category{
            max-width: 500px; 
            margin: auto;
        }
    }
}
// End Industry Type desing

//Question Design
.question-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.question{
    position: relative;
    min-height: 600px;
    padding-bottom: 70px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .question-title{
        float: left;
        margin-right: 10px;
        color: #555555;
        font-weight: bold;
    }
    .question-single-ctn{
        position: relative;
        margin: 5px -10px;
        box-shadow: 0 0 4px lightgray;
        padding: 35px 10px 10px 5px;;
        background-color: whitesmoke;
        .question-single-title{
            position: absolute;
            top: -10px;
            left: 0px;
            padding: 3px 10px;
            background-color: lightgray;
            color: #555555;
        }
    }
    .question-card{
        position: relative;
        margin: 5px -10px;
        padding: 10px;
        padding-right: 70px;
        box-shadow: 0 0 4px lightgray;
        &.question-highlight{
            background-color: lightgreen;
        }
        .question-card-btn{
            position: absolute;
            bottom: 5px;
            right: 10px;
            color: white;
            cursor: pointer;
        }
    }
    .new-question-ctn{
        position: absolute;
        bottom: 0px;
        left: 15px;
        right: 15px;
        margin-bottom: 0px;
        padding: 10px;
        background-color: lightgray;
        .new-question{
            max-width: 500px;
            margin: auto;
        }
    }
}
// End question desing

//Company profile Design
.company-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.company{
    min-height: 500px;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    .company-ctn{
        position: relative;
        .company-logo{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 100px;
            height: 100px;
            &:hover .company-logo-btn{
                display: block;
            }
            img{
                width: 100%;
                height: auto;
            }
            .company-logo-btn{
                display: none;
                position: absolute;
                right: 0px;
                bottom: 0px;
            }
        }
        .company-row{
            margin: 15px 0px;
        }
        .company-label{
            float: left;
            margin-right: 10px;
            color: #555555;
            font-weight: bold;
        }
        .company-package-ctn{
            .company-single-package{
                float: left;
                width: 300px;
                margin: 5px;
                border: 1px solid $prev_primary_dark;
                border-radius: 5px;
                box-shadow: 0 0 4px lightgray;
                padding: 5px;
                &.selectable{
                    border: 1px solid lightgray;
                    cursor: pointer;
                    .price{
                        color: black;
                        background-color: lightgray;
                    }
                }
                &.selected{
                    border: 1px solid green;
                    cursor: pointer;
                    .price{
                        color: white;
                        background-color: green;
                    }
                }

                .price{
                    width: 100px;
                    height: 100px;
                    margin: auto;
                    margin-bottom: 10px;
                    border-radius: 50px;
                    color: white;
                    background-color: $prev_primary_dark;
                    text-align: center;
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 30px;
                    .currency{
                        font-size: 10px;
                        font-style: italic;
                        font-weight: normal;
                    }
                }
                .name, .user{
                    text-align: center;
                    label{
                        color: gray;
                        font-weight: bold;
                    }
                }
                .details{
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }
}
.company-user-ctn{
    .user-card{
        margin: 5px -5px;
        box-shadow: 0 0 4px lightgray;
        padding: 5px;

        .user-card-title{
            float: left;
            margin-right: 10px;
            color: #555555;
            font-weight: bold;
        }
        .user-card-btn{
            float: right;
        }
    }
}
// End company profile desing

//Privacy policy design
.tos-widget-title{
    width: calc(100%+30px);
    margin: 0px -15px;
    padding: 5px;
    background-color: lightgray;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
.tos{
    min-height: 500px;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    
    .tos-ctn{
        margin-top: 10px;

        .tos-section-title{
            margin-right: 10px;
            color: #555555;
            font-weight: bold;
        }
        .tos-editor-ctn{
            position: relative;
            margin-top: 30px;
            padding-top: 20px;
            border-top: 2px solid lightgray;
            .tos-editor-title{
                position: absolute;
                top: -15px;
                left: 0px;
                height: 30px;
                padding: 5px 20px;
                border-radius: 15px;
                vertical-align: middle;
                line-height: 20px;
                color: #555555;
                background-color: lightgray;
            }
        }
    }
}
// End privacy policy design

//Footer desing
.footer-container{
    .footer-row{
        padding-top: 10px;
        background-color: whitesmoke;
        
        .footer-menu{
            ul{
                list-style-type: none;
                padding-left: 0px;
                li{
                    color: #555555;
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }
        .footer-lang{
            float: right;
            max-width: 300px;
        }
    }
}
