$xsmall: 576px;
$small: 768px;
$medium: 998px;
$large: 1200px;
$xlarge: 1920px;


//Colors
//$primary_color: #0360CE;
//$primary_color_dark: #1C2B5B;
$prev_primary: black;
$prev_primary_dark: grey;